.pokemonCard{
  width: 20rem;
  border-radius: 3rem;
  color: black;
  text-align: center;
  border: solid black .2rem;
  margin: auto;
  height: 100%;
}

.pokemonCard h3{
  font-size: 1.5rem;
  color: white;
}

.pokemonCard p{
  font-size: 1.5rem;
}

.pokemonBackground{
  margin: .75rem;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 2rem;
  padding-top: .25rem;
}

.pokemonBackground h2{
  margin-bottom: .5rem;
  margin-top: .25rem;
  color: white;
}

.pokemonInfo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  margin: .25rem .25rem 1rem .25rem;

}

.pokemonInfo p{
  margin: 0;
}

.pokemonInfo h3{
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.spanColumns{
  grid-column: 1/-1;
}

.attacks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.attacks h3{
  margin-bottom: 1.5rem;
  margin-top: -2rem;
  font-size: 1.75rem;
}

.attacks p{
  margin-top: -1rem;
}

.imageContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.itemImage{
  height: 3rem;
  width: 3rem;
  margin-bottom: 2rem;
}

.pokemonImage{
  height: 10rem;
  width: 10rem;
  margin-top: -.25rem;
  margin-bottom: .5rem;
}

.typeImage{
  height: 1.5rem;
  width: 3.5rem;
  margin: 0 .25rem 2rem .25rem;
}


.searchBar{
  text-align: left;
  padding: 1rem;
  border-radius: 3rem;
  border: solid .15rem black;
  width: 60%;
  margin: auto;
}

.searchBarContainer{
  text-align: center;
  margin: auto;
}

.pokemonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, 22rem);
  justify-content: center;
  row-gap: 2rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.resetButtonContainer{
  float: right;
}
.resetButton{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: white;
  float: right;
}

.resetButton:hover{
  cursor: pointer;
  border: solid 2px #ee1515;
}

.resetButton:active{
  transform: translateY(.25rem); 
}

.buttonContainer{
  margin: auto;
  text-align: center;
  margin: 1.5rem auto 1.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.radioButton{
  text-align: left;
  margin: .5rem;
}

.radioButtonLabel{
  font-size: 1.1rem;
  margin-left: .5rem;
}

.dropdownContainer{
  display: inline;
}

.trainerCard{
  width: 20rem;
  border-radius: 3rem;
  color: black;
  text-align: center;
  border: solid black .2rem;
  margin: auto;
  height: 100%;
}

.trainerImage{
  height: 12.5rem;
  width: 12.5rem;
  margin-bottom: 1rem;
}

.trainerCard:hover{
  filter: brightness(75%);
  cursor: pointer;
}

.tooltip{
  position: relative;
  display: inline-block
}

.tooltip .tooltipText{
  visibility: hidden;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  width: 5rem;
  padding: .5rem;
  border-radius: .5rem;
  bottom: 100%;
  left: 50%;
  margin-left: -2.5rem;
}

.tooltip:hover .tooltipText{
  visibility: visible;
}

.scrollButton{
  position: fixed;
  border: solid .1rem black;
  font-size: 1.5rem;
  z-index: 1;
  padding: 1rem;
  margin: 3%;
  right: 0;
  bottom: 0;
  color: white;
  background-color: black;
  cursor: pointer;
}

.scrollButton:hover{
  background-color: rgb(55 55 55);
}
